body {
    background-color: red;
}

#h1 {
    color: blue !important;
}
.btn{
    width: 340px;
    height: 400px;
    background: white;
    border-radius: 15px;
    box-shadow: 500px,500px,black;
    margin-left: 40% !important;
    margin-top: 15%;
}